$nav-bar-background : #333;

html, body {
    height: 100%;
}

body{
    font-family: 'Raleway', sans-serif;;
    font-size: 14px;
    line-height: 1.42857;
    color: #3f3f44;

    &.private-style-body {
        @include linear-gradient(207deg,#654a86,#534292);
    }
    
    &.private-style-body .main-header {
        /*overflow: hidden;*/
        background-color: $nav-bar-background;
        height: 60px;
        
        img.logo {
            position: absolute;
            height: 38px;
            margin: 12px 16px;
            
            @include tablet-landscape-and-below {
                margin: 12px 0 12px -19px;
                left: 50%;
            }
        }
        
        img.profile {
            height: 30px;
            margin: 0 16px;
        }
        
        ul.profile-menu {
            list-style-type: none;
            margin: 0;
            padding: 0;
            position: relative;
            
            @include tablet-landscape-and-below {
                width: 250px;
                float: right;
            }

            li {
                @include desktop-and-up {
                    float: right;
                }
                background: $nav-bar-background;
            }

            li a {
                display: block;
                color: white;
                text-align: center;
                padding: 15px 16px;
                text-decoration: none;
            }

            /* Change the link color to #111 (black) on hover */
            li a:hover {
                background-color: #111;
            }
        }
        
        ul.profile-sub-hidden, ul.profile-sub-show{
            position: absolute;
            display: none;
            list-style-type: none;
            margin: 0;
            padding: 0;
            width: 100%;
            
            li a {
                display: block;
                color: white;
                text-align: center;
                padding: 20px 16px;
                text-decoration: none;
            }
        }
        
        ul.profile-sub-show{
            display: block;
        }
    }
    
    &.private-style-body .main-nav{
        width: 200px;
        background: red;
        position: absolute;
        bottom: 0;
        top: 60px;
    }
    
    &.private-style-body .main-global{
        width: 100%;
        background: blue;
        margin: 0;
        padding: 0;
        min-height: 300px;
        padding-left: 200px;
        box-sizing: border-box;
        overflow: hidden;
    }
    
}