$nav-bar-background : #292c31;
$nav-background: #333;

html, body {
    height: 100%;
}

body{
    font-family: 'Raleway', sans-serif;;
    font-size: 14px;
    line-height: 1.42857;
    color: #3f3f44;
    padding-top: 60px;

    &.private-style-body {
        @include linear-gradient(207deg,#654a86,#534292);
    }
    
    &.private-style-body .main-header {
        /*overflow: hidden;*/
        background-color: $nav-bar-background;
        position: fixed;
        z-index: 200;
        height: 60px;
        width: 100%;
        top: 0;
        
        img.logo {
            position: absolute;
            height: 38px;
            margin: 12px 16px;
            
            @include tablet-only {
                margin: 12px 0 12px -19px;
                left: 50%;
            }
        }
        
        img.profile {
            height: 30px;
            margin: 0 16px;
        }
        
        ul.profile-menu {
            list-style-type: none;
            margin: 0;
            padding: 0;
            position: relative;
            width: 200px;
            float: right;

            li {
                @include desktop-and-up {
                    float: right;
                }
                background: $nav-bar-background;
            }

            li a {
                display: block;
                color: white;
                text-align: center;
                padding: 15px 16px;
                text-decoration: none;
            }

            /* Change the link color to #111 (black) on hover */
            li a:hover {
                background-color: #111;
            }
        }
        
        ul.profile-sub-hidden, ul.profile-sub-show{
            position: absolute;
            display: none;
            list-style-type: none;
            margin: 0;
            padding: 0;
            width: 100%;
            
            li {
                float: inherit;
            }
            
            li a {
                display: block;
                color: white;
                text-align: center;
                padding: 20px 16px;
                text-decoration: none;
            }
        }
        
        ul.profile-sub-show{
            display: block;
        }
    }
    
    &.private-style-body .main-nav{
        width: 200px;
        z-index: 100;
        background: $nav-background;
        position: fixed;
        bottom: 0;
        top: 0;
        padding-top: 60px;
        width: 60px;
        height: 100%;
        
        transform: translateZ(0);
        -moz-transform: translatez(0);
        -ms-transform: translatez(0);
        -o-transform: translatez(0);
        -webkit-transform: translateZ(0);
        -webkit-font-smoothing: antialiased;
        
            
        @include tablet-landscape-and-up {
            width: 100px;
        }
        
        ul{
            list-style: none;
            margin: 0px;
            padding: 0px;
            color: white;
        }
        
        ul li{
            list-style: none;
            text-align: center;
            padding: 15px;
            border-bottom: 1px solid #41444a;
        }
        
        ul li:hover{
            border-left: 3px solid #654a86;
        }
        
        ul li a{
            color: white;
            text-decoration: none;
        }
        
        a i{
            margin: 5px 0px;
            font-size: 20px;
            -webkit-transition: .2s ease-in-out all;
            
            @include tablet-landscape-and-up {
                font-size: 26px;
            }
        }
        
        li:hover a i{
            font-size: 22px;
            
            @include tablet-landscape-and-up {
                font-size: 28px;
            }
        }
        
        a span{
            display: block;
            font-size: 8px;
            
            @include tablet-landscape-and-up {
                font-size: 14px;
            }
        }
    }
    
    &.private-style-body .main-global{
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 15px;
        padding-left: 115px;
        min-height: 300px;
        box-sizing: border-box;
        overflow: auto;
        bottom: 0;
        
        @include mobile-landscape-and-below {
            padding: 5px;
            padding-left: 65px;
        }
    }
    
}

/**** Paginas Internas ****/
@import "./pag_index.scss";