html, body {
    height: 100%;
}

body{
    font-family: 'Raleway', sans-serif;;
    font-size: 14px;
    line-height: 1.42857;
    color: #3f3f44;

    &.public-style-body {
        @include linear-gradient(207deg,#654a86,#534292);
    }
    
    .global{
        margin-top: 20px;
        position: relative;
        
        @include mobile-landscape-and-below {
            padding-top: 0;
        }
        
        img.logo{
            margin: 0 auto;
            display: block;
        }
    }
}


// Template SignInForm e SignUpForm
@import "./SignIn";
@import "./SignUp";
